<ul class="open-menu list">
  <li class="open-menu__container container">

    <ul class="category">
      <li class="category__title">Аксессуары</li>
      <ul class="category__list">
        <li><a href="/">Солнечные очки</a></li>
        <li><a href="/">Головные уборы</a></li>
        <li><a href="/">Шарфы</a></li>
        <li><a href="/">Перчатки</a></li>
        <li><a href="/">Ремни</a></li>
        <li><a href="/">Брелоки</a></li>
        <li><a href="/">Другое</a></li>
      </ul>
    </ul>

    <ul class="category">
      <li class="category__title">Дизайнеры</li>
      <ul class="category__list">
        <li><a href="/">Dior</a></li>
        <li><a href="/">Dolce & Gabbana</a></li>
        <li><a href="/">Fendi</a></li>
        <li><a href="/">Goyard</a></li>
        <li><a href="/">Gucci</a></li>
        <li><a href="/">Hermès</a></li>
        <li><a href="/">Jacquemus</a></li>
        <li><a href="/">Jimmy Choo</a></li>
        <li><a href="/">Loewe</a></li>
        <li><a href="/">Miu Miu</a></li>
        <li><a href="/">Prada</a></li>
        <li><a href="/">Louis Vuitton</a></li>
      </ul>
    </ul>

    <ul>
      <li>banner</li>
      <li>banner</li>
    </ul>
  </li>
</ul>
