@import '../_mixins.scss';

.burger-menu {
  // opacity: 0;
  // visibility: hidden;
  position: absolute;
  left: 0;
  overflow: scroll;
  width: 100%;
  margin-top: rem(-51);
  min-height: calc(100vh - rem(65));
  max-height: calc(100vh);
  background: var(--white-color);
  transition: opacity .05s var(--cubic-bezier),
    visibility .05s var(--cubic-bezier);

  &_active {
    opacity: 1;
    visibility: visible;
  }

  &__search {
    width: 100%;
    display: flex;
    border-bottom: solid 1px var(--light-dark-color);
    padding-top: rem(18);
    padding-bottom: rem(15);
    padding-left: rem(20);
  }

  &__input {
    border: none;
    width: 100%;
    font-size: rem(16);
    line-height: rem(20);

    &::placeholder {
      font-size: rem(16);
      line-height: rem(20);
    }
  }

  &__button {
    display: none;

    @include small-tablet {
      display: flex;
      font-size: rem(16);
      padding-left: rem(10);
      border-width: 0px 0px 0px 1px;
    }
  }

  &__close {
    height: rem(24);
    width: auto;
    display: flex;
    flex-direction: row;
    gap: rem(10);
    justify-content: center;
    align-items: center;

    font-weight: 500;
  }

  &__login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(45);
    margin-bottom: rem(100);

    & span {
      font-weight: 500;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    & div {
      display: none;
    }
  }

  &__link {
    display: flex;
    width: 100%;
    padding: rem(15) 0;
    border: none;
    border-bottom: solid 1px var(--light-color);
    font-style: normal;
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(20);
    letter-spacing: -0.009em;

    &_arrow {
      background: transparent;
      cursor: pointer;

      &::after {
        content: '';
        display: flex;
        width: rem(20);
        height: rem(20);
        margin-left: auto;
        background: url('/img/svg/arrow-right.svg');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }

  &__header {
    padding: rem(18) 0;
    border-bottom: solid 1px var(--light-dark-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}
