@import '../_mixins.scss';

.footer {
  background: #242424;
  padding-top: rem(50);
  padding-bottom: rem(50);

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    row-gap: rem(30);

    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: rem(12);
    line-height: 140%;
    letter-spacing: -0.009em;

    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
  }

  & .list {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: rem(15);

    & a {
      font-weight: 300;
      color: var(--white-color);
      outline: none;

      background-image: linear-gradient(var(--white-color), var(--white-color));
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 1px;
      transition: background-size .15s var(--cubic-bezier),
        background .15s var(--cubic-bezier);

      @include hover {
        background-size: 100% 1px;
      }

      &:focus {
        background-size: 100% 1px;
      }
    }

    & li {
      font-weight: 700;
      color: var(--white-color);

      @include mobile {
        font-size: rem(14);
      }
    }
  }

  &__company {
    grid-column: 1/3;
    grid-row: 1/3;

    @include mobile {
      text-align: center;
    }
  }

  &__help {
    grid-column: 3/6;
    grid-row: 1/3;

    @include mobile {
      text-align: center;
    }
  }

  &__form {
    grid-column: 8/13;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    gap: rem(20);
    height: auto;

    @include mobile {
      width: 100%;
      max-width: rem(420);
    }

    & p {
      font-weight: 700;
      color: var(--white-color);

      @include mobile {
        text-align: center;
        font-size: rem(14);
      }
    }

    & button {
      width: 100%;
      height: rem(40);
    }

    & input {
      background: transparent;
      border: solid var(--white-color);
      border-width: 0 0 1px 0;
      outline: none;
      padding-left: rem(1);

      font-family: var(--font-inter);
      font-style: normal;
      font-weight: 300;
      font-size: rem(12);
      line-height: rem(20);
      display: flex;
      align-items: center;
      letter-spacing: -0.022em;
      color: var(--white-color);

      @include mobile {
        text-align: center;
      }

      &:active,
      &:focus {

        &::placeholder {
          padding-left: 110%;
          opacity: 0;

          @include mobile {
            padding-left: 0;
            transform: scale(2.4);
          }
        }
      }

      &::placeholder {
        color: var(--white-color);
        transition: padding .15s var(--cubic-bezier),
        opacity .15s var(--cubic-bezier),
        transform .15s var(--cubic-bezier);

        @include mobile {
          text-align: center;
        }
      }
    }
  }

  & .social {
    grid-column: 8/13;
    grid-row: 2/2;
    display: flex;
    flex-direction: row;
    gap: rem(10);

      & a {
        display: flex;
        width: rem(20);
        height: rem(20);
        transition: opacity .15s var(--cubic-bezier);

        &:hover,
        &:focus {
          outline: none;
          opacity: .7;
          background-size: 0;
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
  }

  & .copyright {
    color: var(--white-color);
    font-weight: 300;
    grid-column: 8/13;
    grid-row: 3/3;
    text-align: end;

    @include mobile {
      text-align: center;
    }
  }
}
