@import '../_mixins.scss';

.header {
  width: 100%;
  position: relative;
  background: var(--white-color);
  border-bottom: solid 1px var(--gray-color);
  z-index: 4;


  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: rem(21);
    padding-bottom: rem(21);

    @include small-tablet {
      padding-top: rem(10);
      padding-bottom: rem(10);
    }
  }

  &__title {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    font-size: min(Max(rem(16), 2.22vw), rem(32));
    line-height: min(Max(rem(19), 2.22vw), rem(39));
    text-align: center;
    letter-spacing: -0.022em;
    color: #1E1E1E;
    white-space: nowrap;
  }

}

.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: rem(10);
  flex-basis: 50%;

  & svg {
    display: none;

    @include small-tablet {
      display: flex;
      width: rem(20);
      height: rem(20);
    }
  }

  & span {
    display: block;

    @include small-tablet {
      display: none;
    }
  }

  &__button {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: rem(12);
    line-height: rem(20);
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.022em;
    color: var(--dark-color);

    &_fat {
      padding-left: rem(10);
      border: solid 1px var(--dark-color);
      border-width: 0 0 0 1px;
      font-weight: 700;

      @include small-tablet {
        padding-left: 0;
        border-width: 0;
      }
    }
  }
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    margin-bottom: rem(60);
    background: var(--light-dark-color);
    position: absolute;

    @include small-tablet {
      margin-bottom: rem(54);
    }
  }

  @include small-tablet {
    padding-top: rem(20);
    padding-bottom: rem(20);
  }

  &__list {
    z-index: 4;
    display: flex;
    flex-direction: row;

    @include small-tablet {
      display: none;
    }

  }

  &__item {

    &:hover {
      & .nav__link {
        filter: drop-shadow(0 0 0 var(--dark-color));

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          bottom: -1px;
          width: calc(100% - rem(20));
          height: 1px;
          background-color: var(--light-dark-color);
        }
      }

      .open-menu {
        opacity: 1;
        visibility: visible;
      }
    }

    &:nth-child(1) .nav__link {
      padding-left: 0;

      &::before {
        width: calc(100% - rem(10));
        margin-right: auto;
        margin-left: 0;
      }
    }

  }

  &__link {
    display: flex;
    padding: rem(20) rem(10);
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 500;
    font-size: rem(12);
    line-height: rem(20);
    text-align: center;
    letter-spacing: -0.009em;
    color: var(--dark-color);
    position: relative;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: rem(11);
  margin-bottom: 0;

  @include small-tablet {
    display: none;
  }

  &__button {
    width: rem(18);
    height: rem(18);

    & svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__input {
    width: rem(238);
    border: solid var(--light-dark-color);
    border-width: 0 0 1px 0;
    outline: none;
    background: transparent;

    font-family: var(--font-inter);
    font-style: normal;
    font-size: rem(12);
    line-height: rem(20);
    letter-spacing: -0.022em;
    font-weight: 400;
    color: var(--dark-color);
    padding-left: rem(3);

    &:active,
    &:focus {

      &::placeholder {
        padding-left: 110%;
        opacity: 0;
      }
    }

    &::placeholder {
      font-weight: 300;
      color: #BCBDBF;
      transition: padding .15s var(--cubic-bezier),
        opacity .15s var(--cubic-bezier);
    }
  }
}

.catalog-button {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: rem(14);
  line-height: rem(17);
  text-align: center;
  letter-spacing: -0.019em;
  color: var(--dark-color);
  position: relative;

  & img {
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  @include small-tablet {
    display: flex;
  }
}

.search-button {
  display: none;
  width: rem(20);
  height: rem(20);

  & svg {
    width: 100%;
    height: 100%;
  }

  @include small-tablet {
    display: flex;
  }
}

.burger {
  flex-basis: 50%;

  &__button {
    width: rem(21);
    height: rem(17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &_active {

      & .burger__line {
        width: 0;
        opacity: 0;
      }

      &::before {
        transform: translateY(-5px) rotate(45deg);
      }

      &::after {
        transform: translateY(5px) rotate(-45deg);
      }
    }

    @include small-tablet {
      width: rem(15);
      height: rem(11);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: var(--light-dark-color);
      transition: transform .15s var(--cubic-bezier);
    }

    &::after {
      top: 0;
      left: 0;
    }

    &::before {
      bottom: 0;
      left: 0;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: var(--light-dark-color);
    transition: width .15s var(--cubic-bezier),
    opacity .15s var(--cubic-bezier);
  }
}

.open-menu {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  max-height: rem(335);
  overflow: hidden;
  background: var(--white-color);
  padding-top: rem(30);
  padding-bottom: rem(30);
  z-index: -1;
  filter: drop-shadow(2px 11px 11px rgba(16, 24, 32, .15));
  opacity: 0;
  visibility: hidden;
  margin-top: 1px;
  transition: opacity .0s var(--cubic-bezier),
    visibility .0s var(--cubic-bezier);

  @include small-tablet {
    display: none;
  }

  & ul {
    list-style: none;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;

    & ul:nth-child(3) {
      margin-left: auto;
    }
  }

  & .category {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    min-width: rem(200);

    &__title {
      font-family: var(--font-inter);
      font-style: normal;
      font-weight: 700;
      font-size: rem(16);
      line-height: rem(20);
      text-align: center;
      letter-spacing: -0.009em;
      text-transform: uppercase;
      color: var(--gray-color);
      text-align: start;
    }

    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 90%;
      row-gap: rem(10);
      column-gap: rem(50);

      & a {
        font-style: normal;
        font-weight: 400;
        font-size: rem(12);
        line-height: 200%;
        letter-spacing: -0.009em;

        width: max-content;
        padding: 0;

        background-image: linear-gradient(var(--dark-color), var(--dark-color));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size .15s var(--cubic-bezier),
          background .15s var(--cubic-bezier);

        @include hover {
          background-size: 100% 1px;
          filter: drop-shadow(0 0 0 var(--dark-color));
        }

        &:focus {
          background-size: 100% 1px;
        }
      }
    }

    &_small {

      & ul {
        row-gap: rem(15);
      }

      & .category__list {
        & li {
          font-size: rem(10);
          line-height: 1;
        }
      }

      & a {
        font-size: rem(10);
        line-height: 1;
      }
    }


  }
}
