</main>

<footer class="footer">
  <div class="footer__container container">

    <ul class="footer__company list">
      <li>Компания</li>
      <li class="list__item"><a href="/">Каталог</a></li>
      <li class="list__item"><a href="/">Контакты</a></li>
      <li class="list__item"><a href="/">Продать свое</a></li>
    </ul>

    <ul class="footer__help list">
      <li>Помощь и поддержка</li>
      <li class="list__item"><a href="/">Доставка</a></li>
      <li class="list__item"><a href="/">FAQ</a></li>
      <li class="list__item"><a href="/">Мой аккаунт</a></li>
      <li class="list__item"><a href="/">Политика обработки персональных данных</a></li>
      <li class="list__item"><a href="/">Возврат</a></li>
    </ul>

    <form class="footer__email email" action="" method="post">
      <p>Новостная рассылка</p>
      <input class="email__input" placeholder="Email*" type="email" name="email" required minlength="5">
      <button class="email__button button_primary" type="submit">Подписаться</button>
    </form>

    <ul class="footer__social social list">
      <li><a href="/">
        <img src="/img/svg/social/vk.svg" alt="vk">
      </a></li>
      <li><a href="/">
        <img src="/img/svg/social/facebook.svg" alt="facebook">
      </a></li>
      <li><a href="/">
        <img src="/img/svg/social/instagram.svg" alt="instagram">
      </a></li>
    </ul>

    <p class="copyright">© Copyright 2023 Сытая жизнь - All Rights Reserved.</p>

  </div>
</footer>
</div>
</body>

</html>
