<!DOCTYPE html>
<html lang="ru-RU" class="page">

<head>
  <meta charset="utf-8">

  <title><!--#echo var="TITLE" --></title>
  <meta name="description" content="<!--#echo var=" DESCRIPTION" -->">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/vendor.min.css">
  <link rel="stylesheet" href="/css/main.min.css">
  <link rel="stylesheet" href="/css/components/header.min.css">
  <link rel="stylesheet" href="/css/components/footer.min.css">
  <link rel="stylesheet" href="/css/components/burger-menu.min.css">
</head>

<body class="page__body">
  <div class="site-container">

    <header class="header">

      <div class="header__container container">

        <div class="burger">
          <button class="burger__button button" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
          </button>
        </div>

        <a class="header__title" href="/">Сытая жизнь</a>

        <div class="user-menu">
          <button class="user-menu__button button">
            <span class="user-menu__text">Зарегистрироваться / Войти</span>
            <svg class="user-menu__image">
              <use xlink:href="/img/svg/login.svg#1"></use>
            </svg>
          </button>
          <a href="/" class="user-menu__button user-menu__button_fat button">
            <span class="user-menu__text">Корзина (0)</span>
            <svg class="user-menu__image">
              <use xlink:href="/img/svg/basket.svg#1"></use>
            </svg>
          </a>
        </div>

      </div>

      <nav class="header__nav nav container">
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__link" href="/">Аксессуары</a>
            <!--#include virtual="/partials/header/open-menu.html" -->
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/">Антиквариат</a>
            <!--#include virtual="/partials/header/open-menu copy.html" -->
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/">Кошельки</a>
            <!--#include virtual="/partials/header/open-menu copy 2.html" -->
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/">Обувь</a>
            <!--#include virtual="/partials/header/open-menu copy 3.html" -->
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/">Одежда</a>
            <!--#include virtual="/partials/header/open-menu copy 4.html" -->
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/">Сумки</a>
            <!--#include virtual="/partials/header/open-menu copy 5.html" -->
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/">Транспорт</a>
            <!--#include virtual="/partials/header/open-menu copy 6.html" -->
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/">Часы</a>
            <!--#include virtual="/partials/header/open-menu copy 7.html" -->
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/">Украшения</a>
            <!--#include virtual="/partials/header/open-menu copy 8.html" -->
          </li>
        </ul>

        <form class="search" action="/search" method="post">
          <button class="search__button button" type="submit" aria-label="поиск">
            <img src="/img/svg/search.svg" alt="поиск">
          </button>
          <input class="search__input" type="search" name="search" minlength="2" required placeholder="Поиск">
        </form>

        <button class="catalog-button button" data-catalog>Каталог
          <img src="/img/svg/arrow-small.svg" alt="стрелка каталога">
        </button>

        <button class="search-button button" aria-label="поиск" data-search>
          <svg>
            <use xlink:href="/img/svg/search.svg#1"></use>
          </svg>
        </button>
      </nav>


    <!--#include virtual="/partials/burger-menu.html" -->

    </header>
    <main>

