<link rel="stylesheet" href="/css/components/other-projects.min.css">

<aside class="projects">
  <div class="projects__container container">
    <p class="projects__title">Другие проекты</p>
    <ul class="projects__list list">
      <li class="projects__item"><a href="/">Сытая жизнь</a></li>
      <li class="projects__item"><a href="https://blog2.vernik.me/">Журнал Макса Верника</a></li>
      <li class="projects__item"><a href="https://vernik.me/">Лавка Макса Верника</a></li>
    </ul>
  </div>
</aside>

<script defer src="js/other-projects.min.js"></script>
